.product-artwork__purchase h1 {
  font-size: clamp(2.1rem, 4vw, 3.25rem);
  line-height: 1;
  max-width: 14ch;
  margin-bottom: 14px;
}

@media (min-width: 990px) {
  .product-artwork__purchase h1 {
    font-size: clamp(2.5rem, 3.2vw, 3.4rem);
    max-width: 13ch;
  }
}
